* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body , #root {
    height: 100vh;
}

body #root {
    display: flex;
    flex-direction: column;
}

#root > header {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(38, 91, 189);
}

#root > header a {
    color: white;
    text-decoration: none;
}

#root > header nav a {
    margin-left: 1rem;
}

#root > header nav a.active {
    color: black;
}

main {
    padding: 1rem;
    flex-grow: 1;
}

footer {
    padding: 0.5rem;
    color: white;
    background-color: rgb(15, 48, 109);
}

